@font-face {
   font-family: 'Dosis-ExtraLight';
   src: url('../src/font/Dosis-ExtraLight.ttf')
}

* {
   font-family: 'Dosis-ExtraLight';
   font-size: 25px;
   color: black;
   margin: 0;
}

.App {
   text-align: center;
}

body {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
}