.card {
   width: 19serttrrem;
   height: 20rem;
   align-items: center;
   justify-content: center;
   backdrop-filter: blur(10px);
   display: flex;
   flex-direction: column;
   margin: 2rem 0;
   margin-top: 0;
   padding: 2rem 0;
   text-align: center;
   border: solid 0.1px;
   transition: transform .2s;
}

.card:hover {
   transform: scale(1.1);
}

.name {
   margin-bottom: 30px;
   text-align: center;
   align-items: center;
   font-family: url('../font/JetBrainsMono-Light.ttf');
   font-size: 20px;
   text-decoration: none;
}

.imagen {
   width: 15rem;
   height: 10rem;
   position: center;
   margin-bottom: 60px;
   z-index: 0;
   border-radius: 10px;
}

.diet {
   align-items: center;
   position: absolute;
   bottom: 40px;
   left: 0px;
   right: 0px;
}

.nivel{
   align-items: center;
   position: absolute;
   bottom: 10px;
   left: 0px;
   right: 0px; 
}