@font-face {
   font-family: "Dosis-ExtraLight";
   src: url("../font/Dosis-ExtraLight.ttf");
}

.card {
   width: 18.75rem;
   height: 22.5rem;
   align-items: center;
   justify-content: center;
   backdrop-filter: blur(10px);
   display: flex;
   flex-direction: column;
   margin: 2rem 0;
   border-radius: 12px;
   margin-top: 0;
   padding: 2rem 0;
   text-align: center;
   border: solid 0.1px;
   border-color: black;
   transition: transform .2s;
}

.card:hover {
   transform: scale(1.1);
}

.name {
   margin-bottom: 30px;
   font-family: "Dosis-ExtraLight";
   text-align: center;
   color: #fff;
   font-size: 25px;
   padding: 8px;
   align-items: center;
}

.imagen {
   width: 15.625rem;
   height: 10.625rem;
   border-radius: 25px;
   position: center;
   padding: 12px;
   margin-bottom: 60px;
   z-index: 0;
}

.diet {
   font-size: 20px;
   align-items: center;
   position: absolute;
   color: #fff;
   margin: 6px;
   font-family: "Dosis-ExtraLight";
   bottom: 40px;
   left: 0px;
   right: 0px;
}

.nivel {
   align-items: center;
   position: absolute;
   font-family: "Dosis-ExtraLight";
   bottom: 10px;
   color: #fff;
   left: 0px;
   right: 0px;
}
