@font-face {
   font-family: "Dosis-ExtraLight";
   src: url("../font/Dosis-ExtraLight.ttf");
}

.card {
   width: 18.75rem;
   height: 22.5rem;
   align-items: center;
   justify-content: center;
   background-color: #000000cd;
   flex-direction: column;
   margin: 2rem 0;
   border-radius: 12px;
   margin-top: 0;
   padding: 2rem 0;
   text-align: center;

}

.name {
   font-family: "Dosis-ExtraLight";
   text-align: center;
   color: #fff;
   font-size: 27px;
   padding: 8px;
   align-items: center;
}

.imagen {
   width: 15.625rem;
   height: 10.625rem;
   border-radius: 25px;
   position: center;
   padding: 12px;
   transition: transform 0.6s;
}

.imagen:hover {
   transform: scale(1.05);
}

.diet {
   font-size: 19px;
   align-items: center;
   color: #fff;
   margin: auto;
   font-family: "Dosis-ExtraLight";
   margin-top: 1rem;
}

.nivelSaludable {
   align-items: center;
   justify-content: center;
   font-size: 18px;
   font-family: "Dosis-ExtraLight";
   color: #fff;
   margin: auto;
   margin-top: 1rem;
}