@import url(https://fonts.googleapis.com/css?family=Roboto:400);

@font-face {
     font-family: 'Dosis-ExtraLight';
     src: url('../font/Dosis-ExtraLight.ttf')
}

.cR {
     background-image: url('../assets/imageCreate.jpg');
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

a {
     font-family: url('../font/JetBrainsMono-Light.ttf');
}

.form {
     background-color: transparent;
     padding: 40px;
     max-width: 400px;
     border-radius: 20px;
     backdrop-filter: blur(10px);
     margin: 0 auto;
     z-index: 1;
     filter: alpha(opacity=70);
     -moz-opacity: .70;
     opacity: .70;
}

.form:hover {
     opacity: 100
}

.input {
     margin: bottom 15px;
     font-family: "Dosis-ExtraLight";
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border: none;
     color: #fff;
     font-size: 24px;
     resize: none;
     text-align: start;
}

.descripcion {
     font-family: "Dosis-ExtraLight";
     margin: bottom 15px;
     width: 100%;
     height: auto;
     padding: 15px;
     box-sizing: border-box;
     border: none;
     color: #525c66;
     font-size: 14px;
     resize: none;
     text-align: left;
}

.pasos {
     font-family: "Dosis-ExtraLight";
     margin: bottom 15px;
     font-family: "Dosis-ExtraLight";
     width: 100%;
     padding: 15px;
     box-sizing: border-box;
     border: none;
     color: #525c66;
     font-size: 18px;
     resize: none;
     text-align: left;
}

.botonPasos {
     background-color: #000000cc;
     padding: 5px 25px 5px 25px;
     border-radius: 10px;
     border: 0;
     font-size: 24px;
     color: white;
     font-family: "Dosis-ExtraLight";
     position: center;
     margin-top: 40px;
}

.botonCrear {
     background-color: #000000cc;
     padding: 10px 45px 10px 45px;
     border: 0;
     font-size: 24px;
     border-radius: 10px;
     color: white;
     font-family: "Dosis-ExtraLight";
     position: center;
     margin-top: 40px;
}

.botonCrear:hover {
     background-color: #046193;
}

.botonVolver {
     background-color: #000000cc;
     padding: 4px 25px 5px 25px;
     border-radius: 10px;
     border: 0;
     justify-content: center;
     font-size: 24px;
     color: white;
     font-family: "Dosis-ExtraLight";
     position: center;
     margin-top: 30px;
}

.botonVolver:hover {
     background-color: #046193;
}

.botonSelect {
     background-color: #000000cc;
     border: none;
     color: #fff;
     font-family: "Dosis-ExtraLight";
     font-size: 24px;
     margin: 2px;
     width: 100px;
     padding: 3px;
     position: fixed;
     margin-left: 12.5rem;
     border-radius: 10px;
}

.url {
     margin: bottom 15px;
     font-family: "Dosis-ExtraLight";
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border: none;
     margin-top: 6%;
     color: #525c66;
     font-size: 14px;
     resize: none;
     text-align: start;
}

.titulo {
     font-size: 20px;
     margin-top: 20px;
     color: #fff;
}

.dietAdd {
     padding: 1px;
     border: none;
     cursor: pointer;
     background-color: #000000cc;
}

.btnDelet {
     border: none;
     cursor: pointer;
}