@font-face {
     font-family: 'Dosis-ExtraLight';
     src: url('../font/Dosis-ExtraLight.ttf')
}

.cR {
     background-image: url('../assets/imageCreate.jpg');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     justify-content: center;
     scrollbar-width: none;
     flex-direction: column;
     text-align: center;
     align-items: center;
     display: flex;
     height: auto;
}

.form {
     border: 1px solid #000000cc;
     background-color: transparent;
     padding: 60px;
     width: 500px;
     border-radius: 20px;
     backdrop-filter: blur(10px);
     cursor: pointer;
     filter: alpha(opacity=70);
     -moz-opacity: .70;
     opacity: .70;
     margin: 18px;
}

.form:hover {
     opacity: 100
}

.input {
     margin: bottom 15px;
     font-family: "Dosis-ExtraLight";
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     font-size: 18px;
     border: none;
     color: #fff;
     resize: none;
     text-align: start;
}

input::placeholder {
     color: white;
     font-size: 18px;
}

.descripcion {
     font-family: "Dosis-ExtraLight";
     margin: bottom 15px;
     width: 100%;
     height: 90px;
     padding: 15px;
     box-sizing: border-box;
     border: none;
     font-size: 18px;
     resize: none;
     text-align: left;
}

.descripcion::placeholder {
     font-size: 18px;
}

.campoPaso {
     font-family: "Dosis-ExtraLight";
     width: 100%;
     height: auto;
     padding: 15px;
     box-sizing: border-box;
     border: none;
     resize: none;
     text-align: left;
     overflow: scroll;
     font-size: 16px;
     color: #fff;
}

.campoPaso::placeholder {
     font-size: 18px;
}

.pasos {
     font-family: "Dosis-ExtraLight";
     margin: bottom 15px;
     width: 100%;
     padding: 14px;
     box-sizing: border-box;
     border: none;
     color: #fff;
     resize: none;
     text-align: left;
}

.containerSteps {
     flex-wrap: no-wrap;
     align-items: center;
     justify-content: center;
     display: grid;
     padding: 8px;
}

.parr {
     font-family: "Dosis-ExtraLight";
     text-align: left;
}

.btnDelete {
     background-color: transparent;
     border: none;
}

.botonPasos {
     background-color: #000000cc;
     padding: 3px 20px 5px 20px;
     border-radius: 10px;
     border: 0;
     margin: 2px;
     cursor: pointer;
     font-size: 20px;
     color: white;
     font-family: "Dosis-ExtraLight";
     position: relative;
     float: left;
}

.botonCrear {
     background-color: #000000cc;
     font-family: "Dosis-ExtraLight";
     padding: 10px 40px 10px 40px;
     font-size: 20px;
     position: center;
     border-radius: 10px;
     color: white;
     border: none;
     cursor: pointer;
}

.botonCrear:hover {
     background-color: #046193;
}

.botonVolver {
     font-family: "Dosis-ExtraLight";
     background-color: #000000cc;
     padding: 4px 25px 5px 25px;
     border-radius: 10px;
     text-align: center;
     cursor: pointer;
     margin: 20px;
     font-size: 24px;
     color: white;
     border: 0;
}

.botonVolver:hover {
     background-color: #046193;
}

.selectP{
    position: center;
}

.botonSelect {
     background-color: #000000cc;
     font-family: "Dosis-ExtraLight";
     border-radius: 10px;
     font-size: 20px;
     color: #fff;
     margin: 2px;
     display: grid;
     border: none;
     float: left;
     width: 100px;
     padding: 3px;
}

.url {
     margin: bottom 15px;
     font-family: "Dosis-ExtraLight";
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border: none;
     margin-top: 4%;
     color: #525c66;
     font-size: 14px;
     resize: none;
     text-align: start;
}

.titulo {
     font-size: 20px;
     margin-top: 20px;
     color: #fff;
}

.dietAdd {
     padding: 1px;
     border: none;
     cursor: pointer;
     font-family: "Dosis-ExtraLight";
}

.btnDelet {
     border: none;
     cursor: pointer;
     background-color: transparent;
}

.error {
     font-family: "Dosis-ExtraLight";
     color: red;
     font-size: 14px;
}
