.container {
   display: grid;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

.detail {
   width: 50rem;
   height: 40rem;
   align-items: center;
   justify-content: center;
   backdrop-filter: blur(10px);
   display: flex;
   flex-direction: row;
   position: relative;
   margin: 2rem 0;
   margin-top: 0;
   padding: 2rem 0;
   text-align: center;
   border: solid 0.1px;
   z-index: 2;
   transition: transform .2s;
}

.back {
   background-color: #9e0731;
   padding: 4px 25px 5px 25px;
   border: 0;
   font-size: 1em;
   color: white;
   font-family: "Roboto", sans-serif;
   position: center;
   margin-bottom: 15px;
   margin-top: 15px;
}

.back:hover {
   background-color: #044191;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nameTitle {
   margin-bottom: 40px;
   color: #fff;
   font-size: 27px;
}

.p {
   color: #fff;
   margin: 10px;
}

.image {
   width: 320px;
   height: 250px;
}