@font-face {
   font-family: "Dosis-ExtraLight";
   src: url("../font/Dosis-ExtraLight.ttf");
}

.container {
   background-image: url('../assets/imageDetalle.jpg');
   background-position: center center;
   font-family: "Dosis-ExtraLight";
   background-repeat: no-repeat;
   background-attachment: fixed;
   justify-content: center;
   background-size: cover;
   flex-direction: row;
   align-items: center;
   font-size: 24px;
   display: grid;
}

.detail {
   backdrop-filter: blur(7px);
   justify-content: center;
   border-color: black;
   align-items: center;
   flex-direction: row;
   border-radius: 25px;
   border: solid 0.1px;
   position: relative;
   text-align: center;
   padding: 2rem 0;
   margin: 2rem 0;
   display: flex;
   color: #fff;
   width: 60rem;
   height: auto;
   margin-top: 0;
   z-index: 2;
   transition: transform .2s;
}

.back {
   background-color: #000000cc;
   padding: 4px 25px 5px 25px;
   border: 0;
   font-size: 1em;
   color: white;
   font-family: "Dosis-ExtraLight";
   position: center;
   border-radius: 10px;
   margin-bottom: 15px;
   margin-top: 15px;
}

.back:hover {
   background-color: #044191;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nameTitle {
   margin-bottom: 40px;
   color: #fff;
   font-size: 40px;
}

.p {
   color: #fff;
   margin: 10px;
   font-size: 20px;
   width: auto;
   height: auto;
}

.container-image {
   position: relative;
   text-align: left;
   margin: 5rem 3rem;
   grid-template-columns: repeat(2, 1fr);
   display: grid;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   padding: 0vh;
   grid-gap: 1.2rem;
   border-radius: 20px;
   /* flex-wrap: no-wrap; */
}

.image {
   border-radius: 10px;
   width: 24.375rem;
   height: 18.75rem;
   transition: 400ms linear;
}

.image:hover {
   transform: scale(1.1);
   box-shadow: 5px 10px 10px #120d0d6e;
}

.description {
   color: #fff;
   font-size: 20px;
}

.container-steps {
   backdrop-filter: blur(7px);
   margin: 2rem auto;
   height: 18.75rem;
   max-width: auto;
   overflow: auto;
   color: #fff;
   padding: 0 1rem;
   font-size: 20px;
   border: none;
   width: auto;
}

.container-steps::-webkit-scrollbar:vertical {
   width: 10px;
}

.numberStep {
   position: relative;
   text-align: left;
   font-size: 15px;
   color: #fff;
   left: 4px;
}
/* 
@media(width:500px) {
   .container-image {
      position: center;
      flex-wrap: wrap;
   }

   .container {
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
   }

   .detail {
      position: center;
      width: 100%;
      height: 100%;
   }

} */