.container {
   display: grid;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

.detail {
   width: 60rem;
   height: auto;
   align-items: center;
   justify-content: center;
   backdrop-filter: blur(7px);
   display: flex;
   flex-direction: row;
   position: relative;
   margin: 2rem 0;
   margin-top: 0;
   padding: 2rem 0;
   text-align: center;
   border: solid 0.1px;
   z-index: 2;
   transition: transform .2s;
}

.back {
   background-color: #9e0731;
   padding: 4px 25px 5px 25px;
   border: 0;
   font-size: 1em;
   color: white;
   font-family: "Roboto", sans-serif;
   position: center;
   margin-bottom: 15px;
   margin-top: 15px;
}

.back:hover {
   background-color: #044191;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nameTitle {
   margin-bottom: 40px;
   color: rgb(24, 22, 22);
   font-size: 27px;
}

.p {
   color: rgb(24, 22, 22);
   margin: 10px;
   width: auto;
   height: auto;
}

.container-image {
   position: relative;
   text-align: left;
   margin: 5rem 3rem;
   flex-wrap: no-wrap;
   grid-template-columns: repeat(2, 1fr);
   display: grid;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   padding: 0vh;
   grid-gap: 1.2rem;
}

.image {
   border-radius: 10px;
   width: 24.375rem;
   height: 18.75rem;
   transition: 400ms linear;
}

.image:hover {
   transform: scale(1.1);
   box-shadow: 5px 10px 10px #120d0d6e;
}

.description {
   color: rgb(24, 22, 22);
}

.container-steps {
   margin: 2rem auto;
   border: none;
   height: 18.75rem;
   width: auto;
   max-width: auto;
   overflow: auto;
   color: rgb(24, 22, 22);
   backdrop-filter: blur(7px);
   padding: 0 1rem;
}

.container-steps::-webkit-scrollbar:vertical {
   width: 10px;
}

.numberStep {
   position: relative;
   text-align: left;
   color: rgb(24, 22, 22);
   left: 4px;
}