body {
   background-image: url(../img/img.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   padding: 0;
   margin: 0;
}

.navBar {
   background-color: #9e0731;
   color: #fff;
   padding: 0px 8px;
   position: -webkit-sticky;
   top: 0px;
   width: auto;
   padding: 1.25rem;
   font-weight: bold;
}

.divs {
   justify-content: center;
   align-items: center;
   display: flex;
   margin-top: 20px;
   color: #fff;
   flex-basis: 0%;
}

.navs {
   color: #fff;
   background-color: #9e0731;
   font-size: 14px;
   padding: 0.3125rem 1.5rem;
   text-align: center;
   border: none;
   margin: 4px;
}

.Card {
   margin: 5rem 3rem;
   flex-wrap: no-wrap;
   grid-template-columns: repeat(4, 1fr);
   display: grid;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   padding: 0vh;
   grid-gap: 1.2rem;
}