@font-face {
   font-family: 'DancingScript-Regular';
   src: url('../font/DancingScript-Regular.ttf')
}

@font-face {
   font-family: "Dosis-ExtraLight";
   src: url("../font/Dosis-ExtraLight.ttf");
}

.btn-inicio {
   font-family: 'DancingScript-Regular';
   color: #fff;
   background-color: #000000cc;
   cursor: pointer;
   padding: 5px 24px;
   font-size: 30px;
   position: relative;
   margin-bottom: 1px;
   text-align: center;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 10px;
   margin: 3px;
}

.h {
   background-image: url('../assets/imageAmburgesa.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   min-height: 300vh;
}

.navBar {
   background-color: #000000cc;
   color: #fff;
   padding: 0px 8px;
   position: -webkit-sticky;
   top: 0px;
   width: auto;
   padding: 1.25rem;
   font-weight: bold;
}

.divs {
   justify-content: center;
   align-items: center;
   display: flex;
   margin-top: 20px;
   color: #fff;
   flex-basis: 0%;
}

.navs {
   color: #fff;
   background-color: #000000cc;
   cursor: pointer;
   padding: 5px 24px;
   font-family: "Dosis-ExtraLight";
   border-radius: 10px;
   font-size: 20px;
   margin-bottom: 1px;
   text-align: center;
   border: none;
   margin: 3px;
}

.Card {
   margin: 5rem 3rem;
   flex-wrap: no-wrap;
   grid-template-columns: repeat(4, 1fr);
   display: grid;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   padding: 0vh;
   grid-gap: 1.2rem;
}

@media (max-width:500px) {
   .Card {
      position: center ;
      grid-template-columns: repeat(1, minmax(0, 1fr));
   }

   .h {
      width: 100%;
      height: 300%;
   }

   .navs {
      position: center;
      display: none;
   }

   .btn-inicio {
      position: relative;
      float: inline-start;
   }
}