@font-face {
  font-family: "DancingScript-Regular";
  src: url("../font/DancingScript-Regular.ttf");
}

.contenedor {
  align-items: center;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.tituloLanding {
  font-family: "DancingScript-Regular";
  justify-content: center;
  display: flex;
  padding: 8px;
  align-items: center;
  z-index: 2;
  color: #fff;
  font-size: 40px;
}

@font-face {
  font-family: "Dosis-ExtraLight";
  src: url("../../src/font/Dosis-ExtraLight.ttf");
}

.CTA {
  background-color: #000000cc;
  padding: 10px 45px 10px 45px;
  border-radius: 10px;
  font-size: 25px;
  border: none;
  color: white;
  font-family: "Dosis-ExtraLight";
  position: center;
  align-items: center;
}

.CTA:hover {
  background-color: #0095eb;
}

.CTA:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}


@media (max-width:500px) {
  .tituloLanding {
    font-size: 15px;
    align-items: center;
    justify-content: center;
  }
}