@font-face {
   font-family: 'JetBrainsMono-Light';
   src: url('../font/JetBrainsMono-Light.ttf')
}

* {
   font-family: 'JetBrainsMono-Light';
   color: black;
}

.container-fluid {
   background-image: url('../img/img2.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   display: inline-block;
   overflow-x: hidden; 
   padding: 0;
   margin: 0;
}

.home {
   height: 100vh;
   margin-top: 3%;
}

.splash {
   height: 100%;
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}

a {
   font-family: 'JetBrainsMono-Light';
   color: black;
}

.CTA {
   margin: auto;
   width: calc(11.40vw + 15px);
   height: calc(5vw + 8px);
   background-color: #fff;
   display: flex;
   align-items: center;
   cursor: pointer;
   border: none;
   justify-content: center;
   text-transform: uppercase;
   font-size: 1.45vw;
   font-weight: bold;
   cursor: pointer;
}

.CTA:after {
   content: attr(alt);
   width: 12vw;
   height: 5vw;
   background-color: rgba(255, 255, 255, 1);
   display: flex;
   border-radius: 1rem;
   align-items: center;
   justify-content: center;
}

.CTA:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);;
}

@keyframes slidebg {
   to {
      background-position: 20vw;
   }
}

.splash h1 {
   color: rgb(0 0 0);
}

.splash p {
   padding-top: 10px;
   color: black;
}

.tituloPagina {
   font-family: 'JetBrainsMono-Light';
}