.general {
   background-color: #000000cc;
   height: 2rem;
}

.numPage {
   position: center;
   justify-content: center;
   align-items: center;
   display: flex;
   position: relative;
   background-position: bottom;
   padding: 0 3vw;
   cursor: pointer;
   height: 1vh;
   margin-top: 0%;
   margin-bottom: 4%;
}

.number {
   background-color: #fff;
   font-weight: 650;
   font-size: large;
   border-radius: 60px;
   border: none;
   width: 18px;
   margin: 1em;
   transition: transform .2s;
}

.number:hover {
   transform: scale(1.1);
   cursor: pointer;
}