.numberContainer {
   height: 1vh;
   background-position: bottom;
   position: center;
   justify-content: center;
   align-items: center;
   display: inline-block;
   position: relative;
   padding: 0 3vw;
   cursor: pointer;
   margin-top: 0%;
   margin-bottom: 4%;
}

.number {
   background-color: #9e0731;
   font-weight: 650;
   font-size: large;
   border: none;
   margin: 1em;
   transition: transform .2s;
}

.number:hover {
   transform: scale(1.1);
   cursor: pointer;
   /* background-color: #8b0000; */
}

.general {
   background-color: #9e0731;
   width: auto;
}