@font-face {
     font-family: 'DancingScript-Regular';
     src: url('../font/DancingScript-Regular.ttf')
}

.inputStyle {
     font-family: 'DancingScript-Regular';
     font-size: 22px;
}

::placeholder {
     color: #fff;
     font-size: 1.9em;
}

.container-3 {
     width: 12.5rem;
     height: 30px;
     margin-top: 5px;
     margin-left: 10%;
     vertical-align: middle;
     white-space: nowrap;
     color: #fff;
     align-items: center;
     display: flex;
}

.container-3 input#search {
     width: 8rem;
     height: 30px;
     background: #9e0731;
     border: none;
     font-size: 10pt;
     float: left;
     color: #fff;
     margin-top: 2%;
     text-align: center;
}

.botonIr {
     background-color: #9e0731;
     height: 30px;
     margin-left: 1%;
     font-size: 0.875rem;
     border: none;
     cursor: pointer;
     color: white;
     position: center;
}